services:
  superset:
    image: abubakkarkhanfazlarabbi/superset:5.0.0-custom
    container_name: superset
    user: "superset"
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"
    volumes:
      - superset_home:/app/superset_home:rw
      - ./superset_config:/app/pythonpath:ro
    ports:
      - "8090:8088"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: >
      /bin/bash -c "
      superset db upgrade &&
      superset init &&
      superset run -h 0.0.0.0 -p 8088
      "
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8088/health"]
      interval: 1m
      timeout: 15s
      retries: 5
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  db:
    image: postgres:15
    container_name: superset-db
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"
    environment:
      - POSTGRES_DB=superset
      - POSTGRES_USER=superset
      - POSTGRES_PASSWORD=superset
    volumes:
      - superset_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U superset -d superset"]
      interval: 30s
      timeout: 10s
      retries: 5

  redis:
    image: redis:7
    container_name: superset-redis
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  superset_db_data:
  redis_data:
  superset_home: